.navbar-brand {
    padding: 10px 15px
}

.button {
    margin-right: 15px;
    padding: 10px 20px;

    background-color:chocolate;
    text-align: center;
    color: rgb(225,230,226);
    font-size: 20px;
}
.hand-write {
    font-family: "Brush Script MT", cursive;
}