<form>
    <div class="container">
        <div class="div-color">
            <div class="form-group justify-content-center">
                <label for="firstName" class="hand-write2">First Name</label>
                <input id ="firstName" type="text" class="form-control"
                    ngModel name ="firstName" #firstName="ngModel">
                <div class="alert alert-danger" 
                    *ngIf="firstName.touched && (firstName.control.value == '')">First Name required</div>

                <label for="lastName" class="hand-write2">Last Name</label>
                <input id ="lastName" type="text" class="form-control"
                    ngModel name="lastName" #lastName="ngModel">
                <div class="alert alert-danger" 
                    *ngIf="lastName.touched && (lastName.control.value == '')">Last Name required</div>

                <label for="telNr" class="hand-write2">Telephone Number</label>
                <input  id ="telNr" type="text" class="form-control" 
                    ngModel name="telNr" #telNr="ngModel" [appInputFormat]="'american'">
                <div class="alert alert-danger" 
                    *ngIf="telNr.touched && (telNr.control.value == '' || telNr.control.value.length != 10)">Telephone number required (10 numbers)</div>
                


                <label for="comment" class="hand-write2">Comment</label>
                <textarea name="" id="comment" cols="30" rows="10" class="form-control"></textarea>
                
            </div>
            
        </div>
        <div class="justify-content-center">
            <button class="btn btn-primary"></button>
        </div>
    </div>
</form>