
<div class="d-flex flex-row bd-highlight mb-3">
    <div *ngFor="let item of cardItems"
    class="card" style="width: 16rem; margin:5px;">
        <img src="assets/item_{{item.id}}.png" class="card-img-top" alt="">
        <div class="card-body bg-1">
            <h5 class="card-title data-toggle" title={{item.toolTip}}>{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
        
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-primary" style="width:5rem;">Add to cart</a>
                    <input type="text" placeholder = "Cate bucati" style="width:6rem;"> 
                </div>
        </div>
    </div>

</div>